<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReportingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/pantheon/Service.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IReportingService"
                contract="Services.IReportingService" name="BasicHttpBinding_IReportingService" />
        </client>
    </system.serviceModel>
</configuration>