<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReporter" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/hello" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IReporter" contract="ServiceReference1.IReporter"
                name="BasicHttpBinding_IReporter" />
        </client>
    </system.serviceModel>
</configuration>